body {
    background-color: cadetblue;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
tr {
    height: 20px;
}
td {
    padding: 5px 8px;
    min-width: 30px;
}
td:hover {
    background-color: aliceblue;
}
h1, p, label, button, option, select, li {
    text-align: center;
    font-family: cursive;
}
button {
    border-radius: 5px;
    border: 2px dotted purple;
    background-color: violet;
}
.borde {
    border-bottom: 2px solid black;
}
.linea {
    border-right: 2px solid black;
}
.original {
    font-weight: bold;
    color: blue;
}
.original:hover {
    background-color: cadetblue;
}
.botones {
    margin-top: 40px;
    text-align: center;
    align-items: center;
}
.espacio {
    padding-bottom: 15px;
}